<ion-view>
<ion-nav-title><span ng-show="!loading">{{ patient.person.display }}</span><span ng-show="loading">Loading...</span></ion-nav-title>
<ion-content delegate-handle="mainScroll" overflow-scroll="true">
	<center><ion-spinner icon="dots" ng-show="loading"></ion-spinner></center>
	<div ng-show="!loading">
	
	<form name='addNewPatientForm'>
	
		<div class="list text-center " ng-show="patient.person.dead">
		<div class="item item-light">{{ 'PATIENT_EXPIRED' | translate }}</div>
	</div>
	
	<div class="card">
		<div class="item item-divider item-text-wrap item-balanced">{{ 'BASIC' | translate }}</div>

		<ion-item class="item-icon-left">
			<i class="icon ion-person"></i>{{ 'SURNAME' | translate }} <span> </span><input name="Surname" ng-model="names.familyName" type="text" placeholder="Surname" required/>
		</ion-item> <span ng-show="addNewPatientForm.Surname.$error.required">
			Complete the "Surname" before submission.
		</span>
		<ion-item class="item-icon-left">
			<i class="icon ion-person"></i>{{ 'NAME' | translate }}<input name = "name" ng-model="names.givenName" type="text" placeholder="{{ 'NAME' | translate }}" required/>
		</ion-item><span ng-show="addNewPatientForm.name.$error.required" >
			Complete the "Name" before submission.
		</span>
		<ion-item class="item-icon-left">
			<i class="icon ion-person"></i>{{ 'GOVTID' | translate }}<input  name = "GovernmentID" ng-model="newpatient.govt_id" type="text" placeholder="Government ID" />
		</ion-item>
		<ion-item class="item-icon-left" >
			<i class="icon ion-person"></i>{{ 'BIRTHDATE' | translate}}
			<input name = "BirthDate"  ng-model="person.birthdate" type="date"  placeholder="{{ 'BIRTHDATE' | translate}}" required/>
		</ion-item></i><span ng-show="addNewPatientForm.BirthDate.$error.required" >
			Complete the "BirthDate" before submission.
		</span>
		<ion-item class="item-icon-left">
			<i class="icon ion-person"></i>{{ 'AGE' | translate }}<input type="number" ng-model="person.age" placeholder="age" required/>
		</ion-item>	

		<ion-item class="item-icon-left">
			<i class="icon ion-transgender"></i>
			<label class="item-input item-select">
			    <div class="input-label">
			      {{ 'GENDER' | translate}}
			    </div>
			    <select name = "gender" ng-model="person.gender">
			      <option value="M">Male</option>
			      <option value="F" selected>Female</option>
			    </select>
			  </label>
			</ion-item>
		
	</div>
	<div class="card">	
	<div class="item item-divider item-text-wrap item-balanced">{{ 'OCCUPATION' | translate }}</div>
		<div class="item item-divider item-text-wrap">{{ 'MINER' | translate}}</div>
		  <ion-radio name="miner" ng-model="newpatient.miner" ng-value ="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
		  <ion-radio name="miner" ng-model="newpatient.miner" ng-value ="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
		  <ion-radio name="miner" ng-model="newpatient.miner" ng-value ="'{{unknown}}'" >{{ 'UNKNOWN' | translate}}</ion-radio>

		<div  ng-show ="newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}'" class="item item-divider item-text-wrap">{{ 'EXMINER' | translate}}</div>
			  <ion-radio ng-show ="newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}'" name="exminer" ng-model="newpatient.exminer" ng-value="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
			  <ion-radio ng-show ="newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}'" name="exminer" ng-model="newpatient.exminer" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
			  <ion-radio ng-show ="newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}'" name="exminer" ng-model="newpatient.exminer" ng-value="'{{unknown}}'" >{{ 'UNKNOWN' | translate}}</ion-radio>

		<div ng-show ="(newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}') && newpatient.exminer === '{{no}}'" class="item item-divider item-text-wrap" >{{ 'FAMILYMINER' | translate}}</div>
			  <ion-radio ng-show ="(newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}') && newpatient.exminer === '{{no}}'" name="familyminer" ng-model="newpatient.family_miner" ng-value="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
			  <ion-radio ng-show ="(newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}') && newpatient.exminer === '{{no}}'" name="familyminer" ng-model="newpatient.family_miner" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
			  <ion-radio ng-show ="(newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}') && newpatient.exminer === '{{no}}'" name="familyminer" ng-model="newpatient.family_miner" ng-value="'{{unknown}}'" >{{ 'UNKNOWN' | translate}}</ion-radio>
				
		<div ng-show ="(newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}') && newpatient.exminer === '{{no}}'" class="item item-divider item-text-wrap" >{{ 'FAMILYEXMINER' | translate}}</div>
			  <ion-radio ng-show ="(newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}') && newpatient.exminer === '{{no}}'" name="familyexminer" ng-model="newpatient.family_exminer" ng-value="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
			  <ion-radio  ng-show ="(newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}') && newpatient.exminer === '{{no}}'" name="familyexminer" ng-model="newpatient.family_exminer" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
			  <ion-radio ng-show ="(newpatient.miner === '{{no}}' || newpatient.miner === '{{unknown}}') && newpatient.exminer === '{{no}}'" name="familyexminer" ng-model="newpatient.family_exminer" ng-value="'{{unknown}}'" >{{ 'UNKNOWN' | translate}}</ion-radio>
				
	</div>

	<div class="card" ng-hide="newpatient.miner === '{{no}}' && newpatient.exminer === '{{no}}' 
	&& newpatient.family_miner === '{{no}}' && newpatient.family_exminer === '{{no}}'">
		<div class="item item-divider item-text-wrap item-balanced">{{ 'MINETYPE' | translate }}</div>
			<div class="item item-divider item-text-wrap">{{ 'TYPE_OF_MINE' | translate}}</div>
				<ion-checkbox name="minetype" ng-model="newpatient.openpit" ng-true-value="'{{yes}}'"  ng-false-value="'{{no}}'" >{{ 'OPENPIT' | translate }}</ion-checkbox>
			<ion-checkbox name="minetype" ng-model="newpatient.underground " ng-init="newpatient.underground=false" >{{ 'UNDERGROUND' | translate }}</ion-checkbox>
				<ion-checkbox name="minetype" ng-model="newpatient.artisinal" ng-init="newpatient.artisinal=false" >{{ 'ARTISINAL' | translate }}</ion-checkbox>
		
		
			<div class="item item-divider item-text-wrap">{{ 'TYPE_OF_MINERALS' | translate}}</div>
				  <ion-checkbox ng-model="newpatient.gold" ng-init="newpatient.gold=false"  >{{ 'GOLD' | translate }}</ion-checkbox>
				  <ion-checkbox ng-model="newpatient.coal" ng-init="newpatient.coal=false"  >{{ 'COAL' | translate }}</ion-checkbox>
				  <ion-checkbox ng-model="newpatient.uranium" ng-init="newpatient.uranium=false" >{{ 'URANIUM' | translate }}</ion-checkbox>
				  <ion-checkbox ng-model="newpatient.sandstone" ng-init="newpatient.sandstone=false" >{{ 'SANDSTONE' | translate }}</ion-checkbox>
				  <ion-checkbox ng-model="newpatient.diamond" ng-init="newpatient.diamond=false" >{{ 'DIAMOND' | translate }}</ion-checkbox>
				  <ion-checkbox ng-model="newpatient.platinum" ng-init="newpatient.platinum=false">{{ 'PLATINUM' | translate }}</ion-checkbox>
				  <ion-checkbox ng-model="newpatient.magnesium" ng-init="newpatient.magnesium=false">{{ 'MAGNESIUM' | translate }}</ion-checkbox>
				  <ion-checkbox ng-model="newpatient.ironore" ng-init="newpatient.ironore=false">{{ 'IRONORE' | translate }}</ion-checkbox>
				  <ion-checkbox ng-model="newpatient.copper" ng-init="newpatient.copper=false">{{ 'COPPER' | translate }}</ion-checkbox>				

			<div class="item item-divider item-text-wrap">{{ 'MINEYEARS' | translate}}</div>
			  <input ng-model="newpatient.mining_years"ng-init="newpatient.mining_years=0"  type="number">
			

			<div class="item item-divider item-text-wrap">{{ 'MEDBENEFITEXAM' | translate}}</div>
				  <ion-radio name="medbenefit" ng-model="newpatient.mbe" ng-value="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="medbenefit" ng-model="newpatient.mbe" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="medbenefit" ng-model="newpatient.mbe" ng-value="'{{unknown}}'" >{{ 'UNKNOWN' | translate}}</ion-radio>
				
			<ion-item class="item-text-wrap" ng-show="newpatient.mbe === '{{yes}}' || newpatient.mbe === '{{unknown}}'">
			{{ 'CALLCOMPENSATION' | translate}}
			</ion-item>
			<ion-item class="item-text-wrap" ng-show="newpatient.mbe === '{{no}}'">
			{{ 'REFERMINER' | translate}}
			</ion-item>
	</div>

	<div class="card">
		<div class="item item-divider item-text-wrap item-balanced">{{ 'TBSYMPTOMS' | translate }}</div>
			<div class="item item-divider item-text-wrap" >{{ 'COUGH' | translate}}</div>
				  <ion-radio name="cough" ng-model="newpatient.cough" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="cough" ng-model="newpatient.cough" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="cough" ng-model="newpatient.cough" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate}}</ion-radio>
			
			<div class="item item-divider item-text-wrap">{{ 'COUGHINGBLOOD' | translate}}</div>
				  <ion-radio name="coughingblood" ng-model="newpatient.hemoptysis" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="coughingblood" ng-model="newpatient.hemoptysis" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="coughingblood" ng-model="newpatient.hemoptysis" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate}}</ion-radio>

			<div class="item item-divider item-text-wrap">{{ 'FEVER' | translate}}</div>
				  <ion-radio name="fever" ng-model="newpatient.fever" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="fever" ng-model="newpatient.fever" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="fever" ng-model="newpatient.fever" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate}}</ion-radio>
				
			<div class="item item-divider item-text-wrap" >{{ 'NIGHTSWEATS' | translate}}</div>
				  <ion-radio name="nightsweats" ng-model="newpatient.night_sweats" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="nightsweats" ng-model="newpatient.night_sweats" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="nightsweats" ng-model="newpatient.night_sweats" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate}}</ion-radio>

			<div class="item item-divider item-text-wrap">{{ 'WEIGHTLOSS' | translate}}</div>
				  <ion-radio name="weightloss" ng-model="newpatient.weight_loss" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="weightloss" ng-model="newpatient.weight_loss" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="weightloss" ng-model="newpatient.weight_loss" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate}}</ion-radio>

			<div class="item item-divider item-text-wrap" >{{ 'FATIGUE' | translate}}</div>
				  <ion-radio name="fatigue" ng-model="newpatient.fatigue" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="fatigue" ng-model="newpatient.fatigue" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="fatigue" ng-model="newpatient.fatigue" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate}}</ion-radio>
				

			<div class="item item-divider item-text-wrap" >{{ 'APPETITELOSS' | translate}}</div>
				  <ion-radio name="appetiteloss" ng-model="newpatient.appetite_loss" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="appetiteloss" ng-model="newpatient.appetite_loss" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="appetiteloss" ng-model="newpatient.appetite_loss" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate}}</ion-radio>
				
			<div class="item item-divider item-text-wrap">{{ 'CHESTPAIN' | translate}}</div>
				  <ion-radio name="chestpain" ng-model="newpatient.chest_pain" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="chestpain" ng-model="newpatient.chest_pain" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="chestpain" ng-model="newpatient.chest_pain" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate}}</ion-radio>
				
	</div>

	<div class="card">
		<div class="item item-divider item-text-wrap item-balanced">{{ 'TBRISK' | translate }}</div>
			<div class="item item-divider item-text-wrap item-text-wrap" >{{ 'TBCONTACT' | translate}}</div>
				  <ion-radio name="tbcontact" ng-model="newpatient.contact_with_tb" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate }}</ion-radio>
				  <ion-radio name="tbcontact" ng-model="newpatient.contact_with_tb" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate }}</ion-radio>
				  <ion-radio name="tbcontact" ng-model="newpatient.contact_with_tb" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate }}</ion-radio>

			<div class="item item-divider item-text-wrap item-text-wrap">{{ 'TREATEDTB' | translate}}</div>
				  <ion-radio name="tbtreated" ng-model="newpatient.tb_treatment_past" ng-value="'{{yes}}'" ng-change="setSuspect()">{{ 'YES' | translate }}</ion-radio>
				  <ion-radio name="tbtreated" ng-model="newpatient.tb_treatment_past" ng-value="'{{no}}'" ng-change="setSuspect()">{{ 'NO' | translate }}</ion-radio>
				  <ion-radio name="tbtreated" ng-model="newpatient.tb_treatment_past" ng-value="'{{unknown}}'" ng-change="setSuspect()">{{ 'UNKNOWN' | translate }}</ion-radio>

			<ion-item ng-show="newpatient.tb_treatment_past === '{{yes}}'" class="item-text-wrap">
			{{ 'HOWLONG' | translate}}
			  <input ng-model="newpatient.tb_treatment_past_duration"  type="number">
			</ion-item>

			<div class="item item-divider item-text-wrap">{{ 'DIABETESE' | translate}}</div>
				  <ion-radio name="diabetese" ng-model="newpatient.diabetes" ng-value="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="diabetese" ng-model="newpatient.diabetes" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="diabetese" ng-model="newpatient.diabetes" ng-value="'{{unknown}}'" >{{ 'UNKNOWN' | translate}}</ion-radio>
				</ion-list>
			</ion-item>

			<div class="item item-divider item-text-wrap" >{{ 'TOBACCO' | translate}}</div>
				  <ion-radio name="tobacco" ng-model="newpatient.tobacco" ng-value="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="tobacco" ng-model="newpatient.tobacco" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="tobacco" ng-model="newpatient.tobacco" ng-value="'{{unknown}}'" >{{ 'UNKNOWN' | translate}}</ion-radio>
				
	</div>

	<div class="card">
		<div class="item item-divider item-text-wrap item-balanced">{{ 'HIV' | translate }}</div>
			<div class="item item-divider item-text-wrap">{{ 'HIVTEST' | translate}}</div>
				  <ion-radio name="hivtest" ng-model="newpatient.hiv_test_before" ng-value="'{{yes}}'" ng-change="scrollResize()" >{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="hivtest" ng-model="newpatient.hiv_test_before" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
				  <ion-radio name="hivtest" ng-model="newpatient.hiv_test_before" ng-value="'{{unknown}}'" >{{ 'UNKNOWN' | translate}}</ion-radio>
				
			<div ng-show="newpatient.hiv_test_before === '{{yes}}'" class="item item-divider item-text-wrap">{{ 'DISCLOSE' | translate}}</div>
			  <ion-radio ng-show="newpatient.hiv_test_before === '{{yes}}'" name="disclose" ng-change="scrollResize()" ng-model="newpatient.Hiv_status_disclose" ng-value="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
			  <ion-radio ng-show="newpatient.hiv_test_before === '{{yes}}'" name="disclose" ng-model="newpatient.Hiv_status_disclose" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
			  
				
			<div ng-show="newpatient.Hiv_status_disclose === '{{yes}}'" class="item item-divider item-text-wrap">{{ 'RESULTS' | translate}}</div>
				  <ion-radio ng-show="newpatient.Hiv_status_disclose === '{{yes}}'" name="result" ng-model="newpatient.last_hiv_result" ng-value="'{{Negative}}'" >Negative</ion-radio>
				  <ion-radio ng-show="newpatient.Hiv_status_disclose === '{{yes}}'" ng-change="scrollResize()" name="result" ng-model="newpatient.last_hiv_result" ng-value="'{{Positive}}'" >Positive</ion-radio>
				
			<div ng-show="newpatient.last_hiv_result === '{{Positive}}'" class="item item-divider item-text-wrap">{{ 'ARV' | translate}}</div>
				  <ion-radio ng-show="newpatient.last_hiv_result === '{{Positive}}'" name="arv" ng-model="newpatient.arv_status"  ng-value="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
				  <ion-radio ng-show="newpatient.last_hiv_result === '{{Positive}}'" name="arv" ng-model="newpatient.arv_status" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
				  <ion-radio ng-show="newpatient.last_hiv_result === '{{Positive}}'" name="arv" ng-model="newpatient.arv_status" ng-value="'{{unknown}}'" >{{ 'UNKNOWN' | translate}}</ion-radio>
				
			<div class="item item-divider item-text-wrap">{{ 'HIVRETEST' | translate}}</div>
				  <ion-radio name="hivretest" ng-model="newpatient.do_hiv_test" ng-value="'{{yes}}'" >{{ 'YES' | translate}}</ion-radio>
				  <ion-radio name="hivretest" ng-model="newpatient.do_hiv_test" ng-value="'{{no}}'" >{{ 'NO' | translate}}</ion-radio>
				
		</div>

	<div class="card" ng-show="newpatient.suspect">
		<div class="item item-divider item-text-wrap item-balanced">{{ 'LOCATION' | translate }}</div>
		
		<ion-item class="item"> {{ 'PHONE1' | translate }}
			<i class="icon ion-iphone"></i><input ng-model="newpatient.phone1number" type="text" placeholder="Patient phone number">
			<div class="item item-divider item-text-wrap">{{ 'PHONE1OWNER' | translate}}</div>
				  <ion-radio name="phone1" ng-model="ui.phone1myself" ng-value="true" selected>{{'MYSELF' | translate}}</ion-radio>
				  <ion-radio name="phone1" ng-model="ui.phone1myself" ng-value="false" >{{'OTHER_OWNER' | translate}}</ion-radio>
			<div ng-show="!ui.phone1myself" class="item item-divider item-text-wrap" >{{ 'OTHER_NAME' | translate}}</div>
			<input ng-show="!ui.phone1myself" ng-model="newpatient.phone1_owner" type="text" placeholder= "Type Phone owner's name">
		</ion-item>
		<ion-item class="item"> {{ 'PHONE2' | translate }}<i class="icon ion-iphone"></i>
			<input ng-model="newpatient.phone2number" type="text" placeholder="Patient phone number">
			<div class="item item-divider item-text-wrap">{{ 'PHONE2OWNER' | translate}}</div>
				  <ion-radio name="phone2" ng-model="ui.phone2myself" ng-value="true" >{{'MYSELF' | translate}}</ion-radio>
				  <ion-radio name="phone2" ng-model="ui.phone2myself" ng-value="false" >{{'OTHER_OWNER' | translate}}</ion-radio>
			<div ng-show="!ui.phone2myself" class="item item-divider item-text-wrap" >{{ 'OTHER_NAME' | translate}}</div>
			<input ng-show="!ui.phone2myself" ng-model="newpatient.phone2_owner" type="text" placeholder= "Type Phone owner's name" >
		</ion-item>
		<ion-item class="item-icon-left"> <i class="icon ion-ios-home"></i>{{ 'ADDRESS' | translate }}
			<input ng-model="address.address1" type="text" ng-init= "address.address1=''"  >
		</ion-item>
		<ion-item class="item-icon-left"> <i class="icon ion-location"></i>{{ 'LANDMARK' | translate }}
			<input ng-model="address.address2" type="text" ng-init= "address.address2=''">
		</ion-item>
	</div>
		<ion-item class="item-icon-left"> {{ 'PATIENTID' | translate }}
			<input name= "qrCode" ng-model="newpatient.patientid" type="text" ng-init= "newpatient.patientid = ''" required />
			<span ng-show="addNewPatientForm.qrCode.$error.required" >
					</span>
		</ion-item>
		<ion-item class="item-icon-left"><button class="button button-positive" ng-click="scan()" >Scan QR</button></ion-item>	
	
	<div class="item item-divider item-text-wrap item-balanced"></div>
	<center><ion-spinner icon="dots" ng-show="submitloading"></ion-spinner></center>
	<ion-item class="item-icon-left">
			<button ng-disabled="addNewPatientForm.$invalid" class ="button button-positive" ng-click="submit()" >Submit</button>  
		</ion-item>
	</div>
	
		</form >
</ion-content>
</ion-view>